.outerbox {
  background-color: bisque;
  min-height: 400px;
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  justify-content: center;
  /* justify-content: space-around; */
  align-items: center;
  /* align-items: stretch; */
}

.box {
  width: 180px;
  height: 180px;
  /* height: 50px; */
  background-color: blue;
  border: 2px solid white;
}

.box1 {
  /* align-self: flex-start; */
  /* flex-shrink: 0; */
  flex-shrink: 1;
}

.box2 {
  flex-shrink: 2;
  /* flex-grow: 1; */
  /* flex-grow: 2; */
  /* flex-basis: 0; */
}

.box3 {
  /* flex-grow: 1; */
  /* flex-basis: 0; */
}

.box4 {
  /* flex: 1; */
}

.container {
  display: flex;
  /* flex-direction: column; */
}

p {
  padding: 10px;
}

.para1 {
  background-color: aquamarine;
  flex: 1;
  order: 1;
}

.para2 {
  background-color: darksalmon;
  flex: 1;
  order: 3;
}

.para3 {
  background-color: cornsilk;
  flex: 2;
  order: 2;
}
